
<head>
    <%- include('head'); %>
    <link rel="stylesheet" type="text/css" href="../stylesheets/homepage.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/adout.css">

</head>


<body>

<div class="wrapper">
    <header>
        <%- include('header');%>
    </header>

    <div class = "gitBlock">

        <input type="image" src="../img/free-icon-github-logo-25231.png" alt="Кнопка «input»" class="git"
               onClick="window.location='https://github.com/damnWebProject/WebProject'">
    </div>


    <footer>
        <%- include('footer'); %>
    </footer>
    
</div>

</body>

