<!DOCTYPE html>
<head>
    <%- include('head'); %>
    <link rel="stylesheet" type="text/css" href="stylesheets/create-post.css">
</head>
<body>

<div class="wrapper">

    <div class = "container">
    <header>
        <%- include('header'); %>
    </header>

    <form class="center" name="comment" action="" method="post">

        <div class="reg-container">
            <p class="comment_form_field">Post name</p>
            <input required type="text" name="title" placeholder="" maxlength="200" class="form_reg">
        </div>

        <div class="reg-container">
            <p class="comment_form_field">Text</p>
            <input required type="text" name="main" placeholder="" class="form_reg">
        </div>
        <input class="buttonSearch" id="button_reg" type="submit" name="submit" value="Confirm">
    </form>

</div>
</div>
</body>
<footer>
    <%- include('footer'); %>
</footer>