<head>
    <%- include('head'); %>
    <link rel="stylesheet" type="text/css" href="../stylesheets/error.css">
</head>
<body>

    <h1><%= message %></h1>
    <h1><%= error.status %></h1>
    <div><%= error.stack %></div>

</body>